.breadcrumb_crm {
    display: flex;
    flex-wrap: wrap;
    padding: .45rem 1rem;
    margin-left: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.fileinput {
    margin-bottom: 9px;
    display: inline-block;
}

.fileinput .form-control {
    padding-top: 7px;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
}

.fileinput .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.fileinput .thumbnail > img {
    display: block;
    max-width: 180px;
    max-height: 180px;
    object-fit: contain;
}

.fileinput .btn {
    vertical-align: middle;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput-inline .fileinput-controls {
    display: inline;
}

.fileinput-filename {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.form-control .fileinput-filename {
    vertical-align: bottom;
}

.fileinput.input-group {
    display: table;
}

.fileinput.input-group > * {
    position: relative;
    z-index: 2;
}

.fileinput.input-group > .btn-file {
    z-index: 1;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    border-radius: 0 2px 2px 0;
}

.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-sm {
    border-radius: 0 2px 2px 0;
}

.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
    border-radius: 0 2px 2px 0;
}

.form-group.has-warning .fileinput .fileinput-preview {
    color: #ffa829;
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #ff760f;
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #f6675d;
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #f54556;
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #67bd6a;
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #61b555;
}

/* ============ GALLERY ============= */

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery__box,
.gallery__box--addImage {
    flex: 25%;
    height: 200px;
    min-width: 200px;
    padding: 10px;
    position: relative;
}

.gallery__box--addImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0.7;
    overflow: hidden;
}

.gallery__box--addImage:hover {
    opacity: 1;
}

.gallery__box--addImage .label {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.3s;
}

.gallery__box--addImage:hover .label {
    transform: translateY(0);
    opacity: 1;
    margin-top: 15px;
}

.gallery__box--addImage input {
    display: none;
}

.gallery__box--addImage i {
    color: #000;
    font-size: 60px;
}

.gallery__close {
    position: absolute;
    cursor: pointer;
    right: 15px;
    transform: scale(0);
    color: #000;
    transition: all 0.3s;
    background: none;
    border: none;
    padding: 0;
    font-size: 25px;
    opacity: 0.7;
}

.gallery__close:hover {
    opacity: 1;
}

.gallery__box:hover .gallery__close {
    transform: scale(1);
}

.gallery__files:hover .gallery__close {
    transform: scale(1);
}

.gallery__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#ticket_table .name {
    color: #5a5a5a;
}

#ticket_table .name:hover {
    color: #424242;
}

#ticket_table .text_center {
    text-align: justify;
}

#ticket_table .past_hour {
    color: #969696;
}

div .table_scrollx {
    max-width: 100%;
    overflow-x: auto;
}

div table {
    width: 100%;
}

#individual_persons_create, #btn_cont_person {
    display: none;
}

.change_person:hover {
    cursor: pointer;
    color: #494f54;
}

.img-level {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    color: white;
    background-color: black;
    display: inline-block;
}

.label_file {
    font-weight: 500 !important;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.card__header .command {
    margin-left: auto;
}
